<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.our.oa.dao.AnnouncementMapper">
  <resultMap id="BaseResultMap" type="com.our.oa.entity.Announcement">
    <id column="announcement_id" jdbcType="INTEGER" property="announcementId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oa..t_announcement
    where announcement_id = #{announcementId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.our.oa.entity.Announcement">
    insert into oa..t_announcement (announcement_id, title, create_time, 
      update_time, delete_time, delete_flag, 
      description)
    values (#{announcementId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=BIT}, 
      #{description,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.our.oa.entity.Announcement">
    update oa..t_announcement
    set title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT},
      description = #{description,jdbcType=LONGVARCHAR}
    where announcement_id = #{announcementId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select announcement_id, title, create_time, update_time, delete_time, delete_flag, 
    description
    from oa..t_announcement
    where announcement_id = #{announcementId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select announcement_id, title, create_time, update_time, delete_time, delete_flag, 
    description
    from oa..t_announcement
  </select>
</mapper>