<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.our.oa.dao.DictionaryDetailMapper">
  <resultMap id="BaseResultMap" type="com.our.oa.entity.DictionaryDetail">
    <id column="detail_id" jdbcType="INTEGER" property="detailId" />
    <result column="detail_name" jdbcType="VARCHAR" property="detailName" />
    <result column="detail_code" jdbcType="VARCHAR" property="detailCode" />
    <result column="dict_id" jdbcType="INTEGER" property="dictId" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oa..sys_dictionary_detail
    where detail_id = #{detailId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.our.oa.entity.DictionaryDetail">
    insert into oa..sys_dictionary_detail (detail_id, detail_name, detail_code, 
      dict_id, sort_order, create_time, 
      update_time, delete_time, delete_flag
      )
    values (#{detailId,jdbcType=INTEGER}, #{detailName,jdbcType=VARCHAR}, #{detailCode,jdbcType=VARCHAR}, 
      #{dictId,jdbcType=INTEGER}, #{sortOrder,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=BIT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.our.oa.entity.DictionaryDetail">
    update oa..sys_dictionary_detail
    set detail_name = #{detailName,jdbcType=VARCHAR},
      detail_code = #{detailCode,jdbcType=VARCHAR},
      dict_id = #{dictId,jdbcType=INTEGER},
      sort_order = #{sortOrder,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT}
    where detail_id = #{detailId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select detail_id, detail_name, detail_code, dict_id, sort_order, create_time, update_time, 
    delete_time, delete_flag
    from oa..sys_dictionary_detail
    where detail_id = #{detailId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select detail_id, detail_name, detail_code, dict_id, sort_order, create_time, update_time, 
    delete_time, delete_flag
    from oa..sys_dictionary_detail
  </select>
</mapper>