<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.our.oa.dao.EmployeeStudyMapper">
  <resultMap id="BaseResultMap" type="com.our.oa.entity.EmployeeStudy">
    <id column="employee_study_id" jdbcType="INTEGER" property="employeeStudyId" />
    <result column="employee_id" jdbcType="INTEGER" property="employeeId" />
    <result column="study_content" jdbcType="VARCHAR" property="studyContent" />
    <result column="begin_date" jdbcType="DATE" property="beginDate" />
    <result column="study_time" jdbcType="VARCHAR" property="studyTime" />
    <result column="handler" jdbcType="INTEGER" property="handler" />
    <result column="learn_cotent" jdbcType="VARCHAR" property="learnCotent" />
    <result column="evaluation" jdbcType="VARCHAR" property="evaluation" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oa..t_employee_study
    where employee_study_id = #{employeeStudyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.our.oa.entity.EmployeeStudy">
    insert into oa..t_employee_study (employee_study_id, employee_id, study_content, 
      begin_date, study_time, handler, 
      learn_cotent, evaluation, create_time, 
      update_time, delete_time, delete_flag
      )
    values (#{employeeStudyId,jdbcType=INTEGER}, #{employeeId,jdbcType=INTEGER}, #{studyContent,jdbcType=VARCHAR}, 
      #{beginDate,jdbcType=DATE}, #{studyTime,jdbcType=VARCHAR}, #{handler,jdbcType=INTEGER}, 
      #{learnCotent,jdbcType=VARCHAR}, #{evaluation,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=BIT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.our.oa.entity.EmployeeStudy">
    update oa..t_employee_study
    set employee_id = #{employeeId,jdbcType=INTEGER},
      study_content = #{studyContent,jdbcType=VARCHAR},
      begin_date = #{beginDate,jdbcType=DATE},
      study_time = #{studyTime,jdbcType=VARCHAR},
      handler = #{handler,jdbcType=INTEGER},
      learn_cotent = #{learnCotent,jdbcType=VARCHAR},
      evaluation = #{evaluation,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT}
    where employee_study_id = #{employeeStudyId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select employee_study_id, employee_id, study_content, begin_date, study_time, handler, 
    learn_cotent, evaluation, create_time, update_time, delete_time, delete_flag
    from oa..t_employee_study
    where employee_study_id = #{employeeStudyId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select employee_study_id, employee_id, study_content, begin_date, study_time, handler, 
    learn_cotent, evaluation, create_time, update_time, delete_time, delete_flag
    from oa..t_employee_study
  </select>
</mapper>