<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.our.oa.dao.InterviewerMapper">
  <resultMap id="BaseResultMap" type="com.our.oa.entity.Interviewer">
    <id column="interviewer_id" jdbcType="INTEGER" property="interviewerId" />
    <result column="interviewer_code" jdbcType="VARCHAR" property="interviewerCode" />
    <result column="interviewer_name" jdbcType="VARCHAR" property="interviewerName" />
    <result column="interview_result" jdbcType="BIT" property="interviewResult" />
    <result column="interview1_time" jdbcType="TIMESTAMP" property="interview1Time" />
    <result column="interview1_result" jdbcType="BIT" property="interview1Result" />
    <result column="interview1_handler" jdbcType="INTEGER" property="interview1Handler" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="age" jdbcType="TINYINT" property="age" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="japanese_socre" jdbcType="INTEGER" property="japaneseSocre" />
    <result column="graduated_school" jdbcType="VARCHAR" property="graduatedSchool" />
    <result column="profession" jdbcType="VARCHAR" property="profession" />
    <result column="graduated_date" jdbcType="DATE" property="graduatedDate" />
    <result column="education" jdbcType="INTEGER" property="education" />
    <result column="certificate" jdbcType="VARCHAR" property="certificate" />
    <result column="manner" jdbcType="TINYINT" property="manner" />
    <result column="family_situation" jdbcType="VARCHAR" property="familySituation" />
    <result column="service_situation" jdbcType="INTEGER" property="serviceSituation" />
    <result column="nationality" jdbcType="VARCHAR" property="nationality" />
    <result column="birthplace" jdbcType="VARCHAR" property="birthplace" />
    <result column="marital_status" jdbcType="INTEGER" property="maritalStatus" />
    <result column="expect_salary" jdbcType="INTEGER" property="expectSalary" />
    <result column="friendship_situation_in_japan" jdbcType="VARCHAR" property="friendshipSituationInJapan" />
    <result column="interview2_time" jdbcType="TIMESTAMP" property="interview2Time" />
    <result column="interview2_result" jdbcType="BIT" property="interview2Result" />
    <result column="interview2_handler" jdbcType="INTEGER" property="interview2Handler" />
    <result column="internship_experience" jdbcType="VARCHAR" property="internshipExperience" />
    <result column="skill_score" jdbcType="INTEGER" property="skillScore" />
    <result column="interview3_time" jdbcType="TIMESTAMP" property="interview3Time" />
    <result column="interview3_result" jdbcType="BIT" property="interview3Result" />
    <result column="interview3_handler" jdbcType="INTEGER" property="interview3Handler" />
    <result column="prev1_company_name" jdbcType="VARCHAR" property="prev1CompanyName" />
    <result column="prev2_company_name" jdbcType="VARCHAR" property="prev2CompanyName" />
    <result column="prev3_company_name" jdbcType="VARCHAR" property="prev3CompanyName" />
    <result column="prev4_company_name" jdbcType="VARCHAR" property="prev4CompanyName" />
    <result column="prev5_company_name" jdbcType="VARCHAR" property="prev5CompanyName" />
    <result column="work_intent" jdbcType="INTEGER" property="workIntent" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
    <result column="japanese_conversation_ability" jdbcType="LONGVARCHAR" property="japaneseConversationAbility" />
    <result column="personnel_dept_feedback" jdbcType="LONGVARCHAR" property="personnelDeptFeedback" />
    <result column="interview1_desc" jdbcType="LONGVARCHAR" property="interview1Desc" />
    <result column="personal_situation" jdbcType="LONGVARCHAR" property="personalSituation" />
    <result column="working_situation" jdbcType="LONGVARCHAR" property="workingSituation" />
    <result column="interview2_desc" jdbcType="LONGVARCHAR" property="interview2Desc" />
    <result column="technical_department_feedback" jdbcType="LONGVARCHAR" property="technicalDepartmentFeedback" />
    <result column="interview3_desc" jdbcType="LONGVARCHAR" property="interview3Desc" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oa..t_interviewer
    where interviewer_id = #{interviewerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.our.oa.entity.Interviewer">
    insert into oa..t_interviewer (interviewer_id, interviewer_code, interviewer_name, 
      interview_result, interview1_time, interview1_result, 
      interview1_handler, gender, age, 
      city, japanese_socre, graduated_school, 
      profession, graduated_date, education, 
      certificate, manner, family_situation, 
      service_situation, nationality, birthplace, 
      marital_status, expect_salary, friendship_situation_in_japan, 
      interview2_time, interview2_result, interview2_handler, 
      internship_experience, skill_score, interview3_time, 
      interview3_result, interview3_handler, prev1_company_name, 
      prev2_company_name, prev3_company_name, prev4_company_name, 
      prev5_company_name, work_intent, company_id, 
      create_time, update_time, delete_time, 
      delete_flag, japanese_conversation_ability, 
      personnel_dept_feedback, interview1_desc, 
      personal_situation, working_situation, 
      interview2_desc, technical_department_feedback, 
      interview3_desc)
    values (#{interviewerId,jdbcType=INTEGER}, #{interviewerCode,jdbcType=VARCHAR}, #{interviewerName,jdbcType=VARCHAR}, 
      #{interviewResult,jdbcType=BIT}, #{interview1Time,jdbcType=TIMESTAMP}, #{interview1Result,jdbcType=BIT}, 
      #{interview1Handler,jdbcType=INTEGER}, #{gender,jdbcType=TINYINT}, #{age,jdbcType=TINYINT}, 
      #{city,jdbcType=VARCHAR}, #{japaneseSocre,jdbcType=INTEGER}, #{graduatedSchool,jdbcType=VARCHAR}, 
      #{profession,jdbcType=VARCHAR}, #{graduatedDate,jdbcType=DATE}, #{education,jdbcType=INTEGER}, 
      #{certificate,jdbcType=VARCHAR}, #{manner,jdbcType=TINYINT}, #{familySituation,jdbcType=VARCHAR}, 
      #{serviceSituation,jdbcType=INTEGER}, #{nationality,jdbcType=VARCHAR}, #{birthplace,jdbcType=VARCHAR}, 
      #{maritalStatus,jdbcType=INTEGER}, #{expectSalary,jdbcType=INTEGER}, #{friendshipSituationInJapan,jdbcType=VARCHAR}, 
      #{interview2Time,jdbcType=TIMESTAMP}, #{interview2Result,jdbcType=BIT}, #{interview2Handler,jdbcType=INTEGER}, 
      #{internshipExperience,jdbcType=VARCHAR}, #{skillScore,jdbcType=INTEGER}, #{interview3Time,jdbcType=TIMESTAMP}, 
      #{interview3Result,jdbcType=BIT}, #{interview3Handler,jdbcType=INTEGER}, #{prev1CompanyName,jdbcType=VARCHAR}, 
      #{prev2CompanyName,jdbcType=VARCHAR}, #{prev3CompanyName,jdbcType=VARCHAR}, #{prev4CompanyName,jdbcType=VARCHAR}, 
      #{prev5CompanyName,jdbcType=VARCHAR}, #{workIntent,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{deleteFlag,jdbcType=BIT}, #{japaneseConversationAbility,jdbcType=LONGVARCHAR}, 
      #{personnelDeptFeedback,jdbcType=LONGVARCHAR}, #{interview1Desc,jdbcType=LONGVARCHAR}, 
      #{personalSituation,jdbcType=LONGVARCHAR}, #{workingSituation,jdbcType=LONGVARCHAR}, 
      #{interview2Desc,jdbcType=LONGVARCHAR}, #{technicalDepartmentFeedback,jdbcType=LONGVARCHAR}, 
      #{interview3Desc,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.our.oa.entity.Interviewer">
    update oa..t_interviewer
    set interviewer_code = #{interviewerCode,jdbcType=VARCHAR},
      interviewer_name = #{interviewerName,jdbcType=VARCHAR},
      interview_result = #{interviewResult,jdbcType=BIT},
      interview1_time = #{interview1Time,jdbcType=TIMESTAMP},
      interview1_result = #{interview1Result,jdbcType=BIT},
      interview1_handler = #{interview1Handler,jdbcType=INTEGER},
      gender = #{gender,jdbcType=TINYINT},
      age = #{age,jdbcType=TINYINT},
      city = #{city,jdbcType=VARCHAR},
      japanese_socre = #{japaneseSocre,jdbcType=INTEGER},
      graduated_school = #{graduatedSchool,jdbcType=VARCHAR},
      profession = #{profession,jdbcType=VARCHAR},
      graduated_date = #{graduatedDate,jdbcType=DATE},
      education = #{education,jdbcType=INTEGER},
      certificate = #{certificate,jdbcType=VARCHAR},
      manner = #{manner,jdbcType=TINYINT},
      family_situation = #{familySituation,jdbcType=VARCHAR},
      service_situation = #{serviceSituation,jdbcType=INTEGER},
      nationality = #{nationality,jdbcType=VARCHAR},
      birthplace = #{birthplace,jdbcType=VARCHAR},
      marital_status = #{maritalStatus,jdbcType=INTEGER},
      expect_salary = #{expectSalary,jdbcType=INTEGER},
      friendship_situation_in_japan = #{friendshipSituationInJapan,jdbcType=VARCHAR},
      interview2_time = #{interview2Time,jdbcType=TIMESTAMP},
      interview2_result = #{interview2Result,jdbcType=BIT},
      interview2_handler = #{interview2Handler,jdbcType=INTEGER},
      internship_experience = #{internshipExperience,jdbcType=VARCHAR},
      skill_score = #{skillScore,jdbcType=INTEGER},
      interview3_time = #{interview3Time,jdbcType=TIMESTAMP},
      interview3_result = #{interview3Result,jdbcType=BIT},
      interview3_handler = #{interview3Handler,jdbcType=INTEGER},
      prev1_company_name = #{prev1CompanyName,jdbcType=VARCHAR},
      prev2_company_name = #{prev2CompanyName,jdbcType=VARCHAR},
      prev3_company_name = #{prev3CompanyName,jdbcType=VARCHAR},
      prev4_company_name = #{prev4CompanyName,jdbcType=VARCHAR},
      prev5_company_name = #{prev5CompanyName,jdbcType=VARCHAR},
      work_intent = #{workIntent,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT},
      japanese_conversation_ability = #{japaneseConversationAbility,jdbcType=LONGVARCHAR},
      personnel_dept_feedback = #{personnelDeptFeedback,jdbcType=LONGVARCHAR},
      interview1_desc = #{interview1Desc,jdbcType=LONGVARCHAR},
      personal_situation = #{personalSituation,jdbcType=LONGVARCHAR},
      working_situation = #{workingSituation,jdbcType=LONGVARCHAR},
      interview2_desc = #{interview2Desc,jdbcType=LONGVARCHAR},
      technical_department_feedback = #{technicalDepartmentFeedback,jdbcType=LONGVARCHAR},
      interview3_desc = #{interview3Desc,jdbcType=LONGVARCHAR}
    where interviewer_id = #{interviewerId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select interviewer_id, interviewer_code, interviewer_name, interview_result, interview1_time, 
    interview1_result, interview1_handler, gender, age, city, japanese_socre, graduated_school, 
    profession, graduated_date, education, certificate, manner, family_situation, service_situation, 
    nationality, birthplace, marital_status, expect_salary, friendship_situation_in_japan, 
    interview2_time, interview2_result, interview2_handler, internship_experience, skill_score, 
    interview3_time, interview3_result, interview3_handler, prev1_company_name, prev2_company_name, 
    prev3_company_name, prev4_company_name, prev5_company_name, work_intent, company_id, 
    create_time, update_time, delete_time, delete_flag, japanese_conversation_ability, 
    personnel_dept_feedback, interview1_desc, personal_situation, working_situation, 
    interview2_desc, technical_department_feedback, interview3_desc
    from oa..t_interviewer
    where interviewer_id = #{interviewerId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select interviewer_id, interviewer_code, interviewer_name, interview_result, interview1_time, 
    interview1_result, interview1_handler, gender, age, city, japanese_socre, graduated_school, 
    profession, graduated_date, education, certificate, manner, family_situation, service_situation, 
    nationality, birthplace, marital_status, expect_salary, friendship_situation_in_japan, 
    interview2_time, interview2_result, interview2_handler, internship_experience, skill_score, 
    interview3_time, interview3_result, interview3_handler, prev1_company_name, prev2_company_name, 
    prev3_company_name, prev4_company_name, prev5_company_name, work_intent, company_id, 
    create_time, update_time, delete_time, delete_flag, japanese_conversation_ability, 
    personnel_dept_feedback, interview1_desc, personal_situation, working_situation, 
    interview2_desc, technical_department_feedback, interview3_desc
    from oa..t_interviewer
  </select>
</mapper>