<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>客户信息登录</title>

<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/layui.css}">

<script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}"></script>

</head>
<body>
	<h1>客户信息编辑:</h1>
	<h1>客户信息编辑:</h1>
	<h1>客户信息编辑:</h1>

	<form action="#" th:action="@{/company/editor}"
		th:object="${companyForm}" method="post" class="layui-form">
		<p>
			id: <input th:field="*{companyId}" type="text" />
		</p>
		<p>
			公司名称: <input th:field="*{companyName}" type="text" />
		</p>
		<p>
			公司英文缩写: <input th:field="*{companyCode}" type="text" />
		</p>
		<p>
			公司地址: <input th:field="*{address}" type="text" />
		</p>
		<p>
			邮编: <input th:field="*{zipCode}" type="text" />
		</p>
		<p>
			Email: <input th:field="*{email}" type="text" />
		</p>
		<p>
			公司电话号码: <input th:field="*{telephone}" type="text" />
		</p>
		<p>
			公司网址: <input th:field="*{website}" type="text" />
		</p>
		<p>
			是否是bp公司 （0:否 1:是）: <input th:field="*{isBp}" type="text" />
		</p>
		<p>
			口座銀行: <input th:field="*{bankName}" type="text" />
		</p>
		<p>
			口座支店: <input th:field="*{branchBank}" type="text" />
		</p>
		<p>
			口座番号: <input th:field="*{bankNumber}" type="text" />
		</p>
		<p>
			口座備考: <input th:field="*{bankDesc}" type="text" />
		</p>
		<p>
			<input type="submit" value="修改" />
			<input type="button" value="返回" />
		</p>

	</form>
</body>
</html>